@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
*{
    background-color: #FBF7F5;
}
p.intro{
    text-align: left;
    color: #333333;
    padding: 20px;
    text-decoration: none;
    font-family: 'Playfair Display';
    font-size: 48px;
    margin: 100px 0px 0px;
}
.work{
    text-align: left;
    font-size: 24px;
    padding: 20px;
    padding-bottom: 0px;
}
.study{
    text-align: left;
    font-size: 24px;
    padding: 20px;
    padding-top: 0px;
}